<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youzi.yuchou.module.model.mapper.OrderSalerMapper">
  <resultMap id="BaseResultMap" type="com.youzi.yuchou.module.model.model.OrderSaler">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="parent_uid" jdbcType="INTEGER" property="parentUid" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="commission" jdbcType="DECIMAL" property="commission" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="reserve1" jdbcType="VARCHAR" property="reserve1" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, name, uid, parent_uid, level, commission, status, add_time, reserve1
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_saler
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_saler
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.youzi.yuchou.module.model.model.OrderSaler">

    insert into order_saler (id, order_id, name, 
      uid, parent_uid, level, 
      commission, status, add_time, 
      reserve1)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{uid,jdbcType=INTEGER}, #{parentUid,jdbcType=INTEGER}, #{level,jdbcType=INTEGER}, 
      #{commission,jdbcType=DECIMAL}, #{status,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, 
      #{reserve1,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.youzi.yuchou.module.model.model.OrderSaler">
    insert into order_saler
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="parentUid != null">
        parent_uid,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="commission != null">
        commission,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="reserve1 != null">
        reserve1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="parentUid != null">
        #{parentUid,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="commission != null">
        #{commission,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.youzi.yuchou.module.model.model.OrderSaler">
    update order_saler
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="parentUid != null">
        parent_uid = #{parentUid,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="commission != null">
        commission = #{commission,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reserve1 != null">
        reserve1 = #{reserve1,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.youzi.yuchou.module.model.model.OrderSaler">
    update order_saler
    set order_id = #{orderId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER},
      parent_uid = #{parentUid,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      commission = #{commission,jdbcType=DECIMAL},
      status = #{status,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      reserve1 = #{reserve1,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>