<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youzi.yuchou.module.model.mapper.OrderGoodsFlowMapper">
  <resultMap id="BaseResultMap" type="com.youzi.yuchou.module.model.model.OrderGoodsFlow">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="waybill_no" jdbcType="VARCHAR" property="waybillNo" />
    <result column="logistics_company_id" jdbcType="INTEGER" property="logisticsCompanyId" />
    <result column="logistics_company" jdbcType="VARCHAR" property="logisticsCompany" />
    <result column="logistics_code" jdbcType="VARCHAR" property="logisticsCode" />
    <result column="logistics_weight" jdbcType="INTEGER" property="logisticsWeight" />
    <result column="logistics_amount" jdbcType="DECIMAL" property="logisticsAmount" />
    <result column="tail_after" jdbcType="VARCHAR" property="tailAfter" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="reserve1" jdbcType="INTEGER" property="reserve1" />
    <result column="reserve2" jdbcType="VARCHAR" property="reserve2" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, uid, type, waybill_no, logistics_company_id, logistics_company, logistics_code, 
    logistics_weight, logistics_amount, tail_after, add_time, reserve1, reserve2
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_goods_flow
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_goods_flow
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.youzi.yuchou.module.model.model.OrderGoodsFlow">
    insert into order_goods_flow (id, order_id, uid, 
      type, waybill_no, logistics_company_id, 
      logistics_company, logistics_code, logistics_weight, 
      logistics_amount, tail_after, add_time, 
      reserve1, reserve2)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{waybillNo,jdbcType=VARCHAR}, #{logisticsCompanyId,jdbcType=INTEGER}, 
      #{logisticsCompany,jdbcType=VARCHAR}, #{logisticsCode,jdbcType=VARCHAR}, #{logisticsWeight,jdbcType=INTEGER}, 
      #{logisticsAmount,jdbcType=DECIMAL}, #{tailAfter,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, 
      #{reserve1,jdbcType=INTEGER}, #{reserve2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.youzi.yuchou.module.model.model.OrderGoodsFlow">
    insert into order_goods_flow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="waybillNo != null">
        waybill_no,
      </if>
      <if test="logisticsCompanyId != null">
        logistics_company_id,
      </if>
      <if test="logisticsCompany != null">
        logistics_company,
      </if>
      <if test="logisticsCode != null">
        logistics_code,
      </if>
      <if test="logisticsWeight != null">
        logistics_weight,
      </if>
      <if test="logisticsAmount != null">
        logistics_amount,
      </if>
      <if test="tailAfter != null">
        tail_after,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="reserve1 != null">
        reserve1,
      </if>
      <if test="reserve2 != null">
        reserve2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="waybillNo != null">
        #{waybillNo,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCompanyId != null">
        #{logisticsCompanyId,jdbcType=INTEGER},
      </if>
      <if test="logisticsCompany != null">
        #{logisticsCompany,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCode != null">
        #{logisticsCode,jdbcType=VARCHAR},
      </if>
      <if test="logisticsWeight != null">
        #{logisticsWeight,jdbcType=INTEGER},
      </if>
      <if test="logisticsAmount != null">
        #{logisticsAmount,jdbcType=DECIMAL},
      </if>
      <if test="tailAfter != null">
        #{tailAfter,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=INTEGER},
      </if>
      <if test="reserve2 != null">
        #{reserve2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.youzi.yuchou.module.model.model.OrderGoodsFlow">
    update order_goods_flow
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="waybillNo != null">
        waybill_no = #{waybillNo,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCompanyId != null">
        logistics_company_id = #{logisticsCompanyId,jdbcType=INTEGER},
      </if>
      <if test="logisticsCompany != null">
        logistics_company = #{logisticsCompany,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCode != null">
        logistics_code = #{logisticsCode,jdbcType=VARCHAR},
      </if>
      <if test="logisticsWeight != null">
        logistics_weight = #{logisticsWeight,jdbcType=INTEGER},
      </if>
      <if test="logisticsAmount != null">
        logistics_amount = #{logisticsAmount,jdbcType=DECIMAL},
      </if>
      <if test="tailAfter != null">
        tail_after = #{tailAfter,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reserve1 != null">
        reserve1 = #{reserve1,jdbcType=INTEGER},
      </if>
      <if test="reserve2 != null">
        reserve2 = #{reserve2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.youzi.yuchou.module.model.model.OrderGoodsFlow">
    update order_goods_flow
    set order_id = #{orderId,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      waybill_no = #{waybillNo,jdbcType=VARCHAR},
      logistics_company_id = #{logisticsCompanyId,jdbcType=INTEGER},
      logistics_company = #{logisticsCompany,jdbcType=VARCHAR},
      logistics_code = #{logisticsCode,jdbcType=VARCHAR},
      logistics_weight = #{logisticsWeight,jdbcType=INTEGER},
      logistics_amount = #{logisticsAmount,jdbcType=DECIMAL},
      tail_after = #{tailAfter,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      reserve1 = #{reserve1,jdbcType=INTEGER},
      reserve2 = #{reserve2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>