<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youzi.yuchou.module.model.mapper.SysOrgMapper">
  <resultMap id="BaseResultMap" type="com.youzi.yuchou.module.model.model.SysOrg">
    <id column="org_ky" jdbcType="INTEGER" property="orgKy" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="pname" jdbcType="VARCHAR" property="pname" />
    <result column="operation" jdbcType="INTEGER" property="operation" />
    <result column="manage_id" jdbcType="INTEGER" property="manageId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="upd_time" jdbcType="TIMESTAMP" property="updTime" />
  </resultMap>
  <sql id="Base_Column_List">
    org_ky, name, pid, operation, manage_id, status, add_time, upd_time,pname
  </sql>
  
  <select id="query" resultMap="BaseResultMap" >
    SELECT
    <include refid="Base_Column_List" />
     FROM v_sys_org  
     <include refid="T_CMS_AD_QUERY" />
     <if test="orderByClause != null" >
     	 ORDER BY ${orderByClause} ${sort}
    </if>
     <if test="offset != null and offset >= 0 ">  
               LIMIT  #{offset},
           </if>    
            <if test="pageSize != null and pageSize > 0 and offset >= 0">                
                 #{pageSize}                           
            </if>
  </select>
  
  <select id="count" resultType="int" >
    SELECT count(*) FROM sys_org 
      <include refid="T_CMS_AD_QUERY" />
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from v_sys_org
    where org_ky = #{orgKy,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_org
    where org_ky = #{orgKy,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.youzi.yuchou.module.model.model.SysOrg">
    insert into sys_org (org_ky, name, pid, 
      operation, manage_id, status, 
      add_time, upd_time)
    values (#{orgKy,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{pid,jdbcType=INTEGER}, 
      #{operation,jdbcType=INTEGER}, #{manageId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{addTime,jdbcType=TIMESTAMP}, #{updTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.youzi.yuchou.module.model.model.SysOrg">
    insert into sys_org
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orgKy != null">
        org_ky,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="operation != null">
        operation,
      </if>
      <if test="manageId != null">
        manage_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updTime != null">
        upd_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orgKy != null">
        #{orgKy,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="operation != null">
        #{operation,jdbcType=INTEGER},
      </if>
      <if test="manageId != null">
        #{manageId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTime != null">
        #{updTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.youzi.yuchou.module.model.model.SysOrg">
    update sys_org
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="operation != null">
        operation = #{operation,jdbcType=INTEGER},
      </if>
      <if test="manageId != null">
        manage_id = #{manageId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTime != null">
        upd_time = #{updTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where org_ky = #{orgKy,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.youzi.yuchou.module.model.model.SysOrg">
    update sys_org
    set name = #{name,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=INTEGER},
      operation = #{operation,jdbcType=INTEGER},
      manage_id = #{manageId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      upd_time = #{updTime,jdbcType=TIMESTAMP}
    where org_ky = #{orgKy,jdbcType=INTEGER}
  </update>
  <update id="updateByStatus" parameterType="java.lang.Integer">
    update sys_org
    set 
      status = 0
    where org_ky = #{orgKy,jdbcType=INTEGER}
  </update>
  <sql id="T_CMS_AD_QUERY" >
    <trim prefix="WHERE" prefixOverrides="AND " >
    	status = 1
      <if test="name != null and '' != name" >
        AND (name like '%${name}%') 
      </if>
    </trim>
  </sql>
</mapper>