<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youzi.yuchou.module.model.mapper.SysUserMenuLogMapper">
  <resultMap id="BaseResultMap" type="com.youzi.yuchou.module.model.model.SysUserMenuLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_ky" jdbcType="INTEGER" property="userKy" />
    <result column="menu_ky_str" jdbcType="VARCHAR" property="menuKyStr" />
    <result column="is_user_ky" jdbcType="INTEGER" property="isUserKy" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_ky, menu_ky_str, is_user_ky, status, add_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user_menu_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.youzi.yuchou.module.model.model.SysUserMenuLog">
    insert into sys_user_menu_log (id, user_ky, menu_ky_str, 
      is_user_ky, status, add_time
      )
    values (#{id,jdbcType=INTEGER}, #{userKy,jdbcType=INTEGER}, #{menuKyStr,jdbcType=VARCHAR}, 
      #{isUserKy,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.youzi.yuchou.module.model.model.SysUserMenuLog">
    insert into sys_user_menu_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userKy != null">
        user_ky,
      </if>
      <if test="menuKyStr != null">
        menu_ky_str,
      </if>
      <if test="isUserKy != null">
        is_user_ky,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userKy != null">
        #{userKy,jdbcType=INTEGER},
      </if>
      <if test="menuKyStr != null">
        #{menuKyStr,jdbcType=VARCHAR},
      </if>
      <if test="isUserKy != null">
        #{isUserKy,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>